/* Stile generale */
body {
    font-family: 'EB Garamond', serif;
    background-color: ivory;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    position: relative;
    padding-bottom: calc(60px + env(safe-area-inset-bottom));
    box-sizing: border-box;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

main {
    flex: 1;
}

header h1 {
    font-size: 20px;
    font-weight: 700; /* Bold per h1 */
    margin-bottom: 20px;
}

main p {
    font-size: 20px;
    line-height: 1.5;
    margin: 10px 0;
    color: #555;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #555;
    padding: 1rem;
    padding-bottom: calc(1rem + env(safe-area-inset-bottom));
    background-color: ivory;
    height: auto;
}

/* Stile generale per i link */
a {
    color: #007BFF; /* Colore predefinito dei link */
    text-decoration: none; /* Rimuove la sottolineatura */
}

/* Stile quando il link viene cliccato o è attivo */
a:visited {
    color: #5a5a5a; /* Colore per i link già visitati */
}

/* Stile quando il mouse passa sopra il link */
a:hover {
    color: #0088ff; /* Colore quando il link è "hoverato" */
    text-decoration: underline; /* Mostra la sottolineatura al passaggio del mouse */
}

/* Stile per quando un link è attivo (cliccato) */
a:active {
    color: #004cff; /* Colore mentre il link è cliccato */
}